# Backend
venv
furniture_backend/db.sqlite3
furniture_backend/media/
furniture_backend/__pycache__/
furniture_backend/*/__pycache__/
furniture_backend/*.pyc
furniture_backend/.env

# Frontend
client/node_modules/
client/dist/
client/.env
client/.env.local
client/package
client/package-lock

# General
*.log
.DS_Store
.vscode/
*.swp
*.swo
*~
